@font-face {
    font-family: Hyperspace;
    src: url('../fonts/Hyperspace.ttf');
}

@font-face {
    font-family: Hyperspace;
    src: url('../fonts/Hyperspace%20Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Hyperspace;
    src: url('../fonts/Hyperspace%20Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Hyperspace;
    src: url('../fonts/Hyperspace%20Bold%20Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: white;
    font: 14px Hyperspace, Helvetica, Arial, sans-serif;
    background: url('../images/black_lozenge.png') repeat;
}

#main {
    width: 60%;
    margin: 0 auto;
}

section.screen {
    display: none;
    text-align: center;
    position: relative;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0);
}

#game {
    display: block;
    position: absolute;
    top: calc(100% / 12.3);
    left: calc(100% / 6);
    margin: 0 auto;
    padding-top: 0;
    z-index: -9999;
}

h1.title {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
}

h3.screen-title {
    margin-top: 5px;
    font-size: 28px;
    font-weight: bold;
}

.screen button {
    display: block;
    height: 30px;
    padding: 5px 10px;
    margin: 4% auto 0 auto;
    color: rgb(206, 207, 207) !important;
    font-family: inherit;
    font-size: 14px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

.backButton, .applyButton {
    width: 100px;
    display: inline-block !important;
}

button.menu-item:first-of-type {
    margin-top: 11%;
}

.screen button:hover {
    font-size: larger !important;
    cursor: pointer;
}

.config-container, #credit-content {
    width: 50%;
    margin: 11% auto auto auto;
}

.config-item  {
    margin: 4% auto;
    display: block;
}

.config-item label, .config-item input {
    display: inline-block;
}

.config-item label {
    width: 20px;
    margin-right: 80px;
}

.key-input {
    text-align: center;
}

#credit-content span {
    display: block;
    margin-bottom: 4%;
}